$color-primary: rgb(184, 118, 245);

.layoutContent {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 200px 1fr auto;
  grid-template-rows: 100px 1fr 100px;
  background-color: $color-primary;
}

.header {
  grid-area: 1 / 2 / 2 / -2;
  background-color: antiquewhite;
}

.sidebar {
  grid-area: 2 / 2 / -2 / 3;
  background-color: rgb(244, 202, 146);
}

.main {
  grid-area: 2 / 3 / 3 / -2;
  background-color: rgb(227, 216, 200);
}

.footer {
  grid-area: 3 / 2 / -1 / -2;
  background-color: rgb(59, 192, 218);
}

// grid-row-start
// grid-column-start
// grid-row-end
// grid-column-end
