.postInfoContent {
  height: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 1rem;
  margin: 0.3rem;

  border: 1px solid black;
  background-color: cadetblue;
  border-radius: 5px;
}
